:root {
  --margin: 0;
  --font-family: -apple-system, BlinkMacSystemFont, "Nunito", Arial, sans-serif;
  --padding-left: 61px;
  --padding-right: 61px;
  --font-size: 1.125rem;
  --color-main: #ed6436;
  --text-align: center;
}

html {
  font-family: var(--font-family);
  margin: var(--margin);
  padding-right: var(--padding-right);
  padding-left: var(--padding-left);
}

@media screen and (max-width: 480px) {
  body {
    font-size: var(--font-size);
    text-align: var(--text-align);
  }

  .header-title {
    font-size: 1rem;
    text-align: center;
    color: var(--color-main);
  }

  h2 {
    display: block;
    font-size: 1.8rem;
    margin: var(--margin);
  }

  button {
    border: none;
    font-family: var(--font-family);
    width: 6rem;
    height: 3rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 2.4rem;
    cursor: pointer;
  }

  .button--dark {
    background-color: var(--color-main);
    color: #ffff;
  }

  div {
    display: flex;
    justify-content: center;
    margin-top: 3.3rem;
    position: relative;
  }

  img {
    width: 300px;
    border-radius: 20px;
  }

  div h3 {
    position: absolute;
    top: 7rem;
    font-size: 15px;
    color: #ffff;
  }

  div p {
    top: 8.1rem;
    font-size: 1.5rem;
    position: absolute;
    color: #ffff;
  }
}
